body {
  background-color: rgb(10, 10, 10);
  padding: 70px 20px 15px 0;
  width: 650px;
  margin: 0 auto;
}

@media (max-width: 650px) {
  body {
    width: 100%;
    padding: 70px 20px 0 20px;
    box-sizing: border-box; 
  }
}

p {
  font-family: Inter, Arial;
  color: white;
}

button {
  font-family: Inter, Arial;
  cursor: pointer;
}