hr {
  border: none;
  height: 2px; 
  background-color: rgb(46, 46, 46);
  margin: 20px 0;
}

.showcase-section {
  padding: 20px 0 20px 0;
}

.title-text {
  font-family: Inter, Arial;
  font-weight: bold;
  font-size: 20px;
  color: white;
  margin-bottom: 10px;
}

.header-text {
  font-family: Inter, Arial;
  font-size: 14px;
  font-weight: bold;
  color: white;
  margin-bottom: 8px;
}