.description-text {
  font-size: 13px;
  color: #bab9c2;
  line-height: 20px;
  margin: 0 0 4px 0;
}

.header-text {
  color: white;
  font-size: 14px;
  font-weight: 600;
  margin: 17px 0 13px 0; 
}

.body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}