.top-header, .body {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.pfp {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.name {
  font-family: 'Inter', Arial;
  color: white;
  font-size: 15px;
  font-weight: 600;
  margin: 0 0 5px 0;
}

.position {
  font-family: 'Inter', Arial;
  color: rgb(199, 199, 199);
  font-size: 10px;

  margin: 0 0 0 0;
}

.social-button {
  width: 23px;
  height: 23px;
  color: #a6a6a6; /* Default color */
  transition: color 0.3s ease;
  background-color: transparent;
  border: none;
}
