.about-me {
  border-style: solid;
  border-color: rgb(46, 46, 46);
  padding: 10px;
  border-radius: 4px;
  border-width: 1px;

  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.socials {
  display: flex;
}

.socials-link {
  font-family: Inter, Arial;
  cursor: pointer;
  margin-right: 10px;

  padding: 10px 0 10px 0;
  border-radius: 5px;
  border-style: solid;
}

.email-text {
  font-size: 13px;
}